<div class="section-bg-image parallax-window gray" data-natural-height="850" data-natural-width="1920" data-parallax="scroll" data-image-src="../../../../assets/images/bg-25.jpg">
    <div class="container content">
        <div class="title-base">
            <hr />
            <h2>Client's feedback</h2>
            <p>What our clients think about us</p>
        </div>
        <div class="flexslider carousel gray outer-navs" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:true,directionNav:true">
            <ul class="slides">
                <li>
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('../../../../assets/images/users/user-1.jpg')"></i>
                        <p>
                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam qrem aperiam.
                        </p>
                        <h5>Alfred Merlon - Italy</h5>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('../../../../assets/images/users/user-2.jpg')"></i>
                        <p>
                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam qrem aperiam.
                        </p>
                        <h5>Mary Groot - Greece</h5>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('../../../../assets/images/users/user-3.jpg')"></i>
                        <p>
                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam qrem aperiam.
                        </p>
                        <h5>Jessy Mallo - United States</h5>
                    </div>
                </li>
                <li>
                    <div class="advs-box advs-box-top-icon niche-box-testimonails">
                        <i class="fa text-xl circle onlycover" style="background-image:url('../../../../assets/images/users/user-4.jpg')"></i>
                        <p>
                            Lorem ipsum dolor sitamet consectetur adipisicing elito sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Ut enim ad minim veniam qrem aperiam.
                        </p>
                        <h5>Jack Dannio - Russian Federiation</h5>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>