<div class="section-bg-color">
    <div class="container content">
        <div class="row">
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="im-phone text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Call now</label>
                        <p class="text-s">+02 780 402 230</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="im-envelope text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Contact us</label>
                        <p class="text-s">info@pizzeria.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="im-map2 text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Location</label>
                        <p class="text-s">1 Central Park, New York</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="icon-box">
                    <div class="icon-box-cell">
                        <i class="im-clock text-xl"></i>
                    </div>
                    <div class="icon-box-cell">
                        <label class="text-m">Schedules</label>
                        <p class="text-s">Mon-Sun 7pm-1am</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="section-bg-image parallax-window" data-sub-height="0" data-bleed="0" data-natural-height="850" data-natural-width="1920" data-parallax="scroll" data-image-src="../../../../assets/images/bg-8.jpg">
    <div class="container content">
        <div class="title-base">
            <hr />
            <h2>Welcome</h2>
            <p>Your pleasure of teasting</p>
        </div>
        <div class="row">
            <div class="col-md-8 col-center text-center">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                    Utenim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
                    in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
                <hr class="space m" />
                <img src="../../../../assets/images/sign-2.png" alt="" />
                <hr class="space" />
                <div class="flexslider carousel" data-options="minWidth:200,itemMargin:15,numItems:3,controlNav:true,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                <a class="img-box">
                                    <img class="anima" src="../../../../assets/images/chef-4.png" alt="" />
                                </a>
                                <div class="content-box">
                                    <h2>Alan Mardon</h2>
                                    <h4>Co-founder</h4>
                                    <hr class="e" />
                                    <div class="btn-group social-group">
                                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry lorem has been graco.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                <a class="img-box">
                                    <img class="anima" src="../../../../assets/images/chef-5.png" alt="" />
                                </a>
                                <div class="content-box">
                                    <h2>Jessica Sarter</h2>
                                    <h4>Founder & Chef</h4>
                                    <hr class="e" />
                                    <div class="btn-group social-group">
                                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry lorem has been the graco.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                <a class="img-box">
                                    <img class="anima" src="../../../../assets/images/chef-3.png" alt="" />
                                </a>
                                <div class="content-box">
                                    <h2>Sarh prest</h2>
                                    <h4>Chef</h4>
                                    <hr class="e" />
                                    <div class="btn-group social-group">
                                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry lorem has been theomo.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box niche-box-team" data-anima="scale-up" data-trigger="hover">
                                <a class="img-box">
                                    <img class="anima" src="../../../../assets/images/chef-2.png" alt="" />
                                </a>
                                <div class="content-box">
                                    <h2>Sarah pèrker</h2>
                                    <h4>Chef</h4>
                                    <hr class="e" />
                                    <div class="btn-group social-group">
                                        <a target="_blank" href="#"><i class="fa fa-facebook"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-twitter"></i></a>
                                        <a target="_blank" href="#"><i class="fa fa-instagram"></i></a>
                                    </div>
                                    <p>Lorem Ipsum is simply dummy text of the printing and industry lorem has beenero.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </div>
</div>