<div class="section-empty no-paddings">
    <div class="content">
        <div class="grid-list gallery">
            <div class="grid-box no-margins row" data-lightbox-anima="fade-top">
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-1.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-1.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-2.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-2.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-3.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-3.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-4.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-4.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-5.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-5.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-6.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-6.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-7.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-7.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-8.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-8.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-9.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-9.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-10.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-10.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-11.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-11.jpg" alt="">
                    </a>
                </div>
                <div class="grid-item col-md-2">
                    <a class="img-box i-center" href="../../../../assets/images/gallery/image-12.jpg" data-anima="show-scale" data-trigger="hover" data-anima-out="hide">
                        <i class="im-old-camera anima"></i>
                        <img src="../../../../assets/images/gallery/image-12.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>