<div class="section-bg-image parallax-window text-center white" data-natural-height="850" data-natural-width="1920" data-parallax="scroll" data-image-src="../../../../assets/images/bg-12.jpg">
    <div class="container content">
        <hr class="space" />
        <div class="row">
            <div class="col-md-8 col-center">
                <div class="title-base">
                    <hr />
                    <h2>Food menu</h2>
                    <p>Delicious plates for you</p>
                </div>
                <p class="text-italic">
                    Tincidunt integer eu augue augue nunc elit dolor luctus placerat scelerisque euismod iaculis eu lacus nunc mi elito
                    vehicula ut laoreet ac, aliquam sit amet justo nunc tempor metus velio Lorem ipsum dolor sit amet consectetur adipiscing elitsed do eiusmod tempor incididunto.
                </p>
                <hr class="space s" />
                <a href="#" class="btn-border circle-button btn btn-sm">Full list</a>
            </div>
        </div>
        <hr class="space" />
    </div>
</div>
<div class="section-bg-image" style="background-image:url(../../../../assets/images/bg-retro.jpg)">
    <div class="container content">
        <div class="title-base">
            <hr />
            <h2>Our delicious menu</h2>
            <p>Enjoy a complete food experience</p>
        </div>
        <hr class="space s" />
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/images/food-3.png" class="abs-image hidden-sm" alt="" />
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Slow roasted white</h3>
                                        <p>Duis aute irure dolor in reprehenderit i esse</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9.5$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grass beef fillet</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Deboned king quail</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Confit of lamb</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Twice cooked duck </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed king crab</h3>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast partridge</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Salad of shaved fenne</h3>
                                        <p>Sunt in culpa qui officia</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Beetroot cured kingfish</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space m" />
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
        </div>
        <hr class="space" />
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Ocean trout in saffron</h3>
                                        <p>Lorem ipsum dolor sit ameto consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Crispy skin Cone </h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>4.99$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Seared blue eye</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast spatchcock</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grilled beef fillet</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Slow roasted veal</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>49$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed jasmine rice</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Butter poached scampi</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>50$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space m" />
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
            <div class="col-md-5">
                <img src="../../../../assets/images/food-4.png" class="abs-image hidden-sm" alt="" />
            </div>
        </div>
        <hr class="space" />
        <div class="row">
            <div class="col-md-5">
                <img src="../../../../assets/images/food-5.png" class="abs-image hidden-sm" alt="" />
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Slow roasted white</h3>
                                        <p>Duis aute irure dolor in reprehenderit i esse</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9.5$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Grass beef fillet</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Deboned king quail</h3>
                                        <p>Sunt in culpa qui deserunt</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Confit of lamb</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>15$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Twice cooked duck </h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6" data-anima="fade-left">
                        <div class="list-items">
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Steamed king crab</h3>
                                        <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Roast partridge</h3>
                                        <p>Lorem ipsum dolor sit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>9$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Salad of shaved fenne</h3>
                                        <p>Sunt in culpa qui officia</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Beetroot cured kingfish</h3>
                                        <p>Excepteur sint occaecat cupidatat non proident</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>10$</span>
                                    </div>
                                </div>
                            </div>
                            <div class="list-item">
                                <div class="row">
                                    <div class="col-md-9">
                                        <h3>Wild mushroom ragout</h3>
                                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit</p>
                                    </div>
                                    <div class="col-md-3">
                                        <span>21$</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="space m" />
                <a href="#" class="btn-border circle-button btn btn-sm">See more</a>
            </div>
        </div>
    </div>
</div>