<div class="section-bg-video grunge-border">
    <div class="bg-overlay transparent-dark"></div>
    <div class="videobox">
        <video autoplay loop muted poster="../images/video-1-poster.jpg">
            <source src="http://templates.framework-y.com/gourmet/images/video-1.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container content overlay-content white text-center" data-anima="fade-top" data-timeline="asc" data-time="1000">
        <hr class="space" />
        <hr class="space" />
        <h5 class="text-uppercase anima">If music be the food of love play on</h5>
        <h2 class="text-bold text-xxl anima">RESTAURANT</h2>
        <hr class="space xs" />
        <p class="anima">
            Food, in the end, in our own tradition, is something holy. It's not about nutrients and calories.<br />
            It's about sharing. It's about honesty. It's about identity.
        </p>
        <hr class="space s" />
        <a href="#" class="btn btn-border btn-sm anima anima-fade-bottom">VIEW THE MENU</a>
        <hr class="space" />
        <hr class="space" />
    </div>
</div>